 /* NOW AM  STYLING  */
 *{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
 }
 body{
/* NOW AMY SETTING CONTENT INTO MIDDLE */
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(38,110,243);
 }
 .container{
     width: 380px;
     background-color: white;
     box-shadow: inset 0px 0px 3px 1px rgb(117,117,117),
                       0px 0px 3px 1px rgb(117,117,117);

     border-radius: 30px 0px 20px 0px;               
 }
 .login-text h1{
     text-transform: capitalize;
     font-size: 35px;
     text-decoration: underline;
     color: rgb(38,110,243);
     margin-bottom: 20px;
     text-align: center;

 }
 form{
     padding: 30px;
 }
 .text-box p{
     text-transform: capitalize;
     font-size: 20px;
     padding-bottom: 5px;
     color: rgb(59,59,59);
     padding-left: 5px;
 }
 .text-box input{
     width: 100%;
     border: 0px;
     box-shadow: inset 0px 0px 5px 1px rgb(117,117,117);
     font-size: 15px;
     padding: 10px 0px 10px 15px;
     margin-bottom: 8px;
     outline: none;
     border-radius: 0px 10px 0px 10px;
     text-transform: capitalize;
 }
 input[type=submit]{
     width: 100%;
     padding: 10px 15px;
     font-size: 20px;
     text-transform: capitalize;
     background-color: rgb(38,110,243);
     border: 0px;
     cursor: pointer;
     color: white;
     
 }
 input[type=submit]:hover{
    background-color: rgb(44, 155, 68);
 }

 /* NOW AM STYLING ERROR MSG */

 .error P{
     text-transform: capitalize;
     font-size: 16px;
     color: red;
     font-weight: 600;
     letter-spacing: 0.5px;
     padding: 5px 0px;
 }
.reset input[type=reset]{
    width: 100%;
    padding: 10px 15px;
    font-size: 20px;
    text-transform: capitalize;
    background-color: rgb(243, 38, 38);
    border: 0px;
    cursor: pointer;
    color: white;

}
.reset{
    margin-top: 10px;
}
input[type=reset]:hover{
    background-color:rgb(190, 108, 97);
}



/* css part completed */